body{
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 920px;
}

.container-geral{
    max-width: 920px;
    position: relative;
    padding: 0 10px 0 10px;
}

header{
    margin-top: 20px;
    box-sizing: border-box;
    padding-top: 30px;
    height: 90vh;
    background-image: url("../img/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 3em;
}

header h1{
    text-align: center;
}

section h2{
    border-bottom: 1px solid #000000;
}

.content-section{
    display: flex;
}

.col-paragr-left, .col-paragr-rigth{
    width: 50%;
}

.col-paragr-left{ padding-right: 20px;}
.col-paragr-rigth{ padding-left: 20px;}

section div p {
    text-align: justify;
}

img{
    position: fixed;
    bottom: 150px;
    right: 10%;
    cursor: pointer;
}

footer{
    background-color: #000000;
    color: #ffffff;
    padding: 30px 0 30px 0;
}

footer p{
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    .content-section{
        display: block;
    }
    .col-paragr-left, .col-paragr-rigth{
        width: 100%;
        padding: 0%;
    }
  }